{% extends "base.html" %}
{% load static %}

{% block title %}{{ article.seo_title|default:article.title }} — Land95{% endblock %}

{% block meta_description %}
  {{ article.meta_description }}
{% endblock %}


{% block content %}
<div class="container py-5">

   <div class="pt-5">
      <div class="fw-bold mb-4 text-start">
        <h1 class="fw-bold">{{ article.title }}</h1>
        <p class="text-muted">{{ article.get_category_display }} {{ article.publish_date|date:"d.m.Y" }}</p>
      </div>
   </div>


  {% if article.hero_image %}
    <img src="{{ article.hero_image.url }}" alt="{{ article.title }}" class="img-fluid rounded shadow">
  {% endif %}


  <div class="mx-auto mt-5" style="max-width: 800px;">
    <div class="article-body">
      {{ article.body|safe }}
    </div>
  </div>

  {% if article.gallery_images.exists %}
    <div class="mt-5">
      <h3 class="fw-bold mb-3">Примеры применения</h3>
      <div class="row g-5">
        {% for img in article.gallery_images.all %}
          <div class="col-md-6">
            <img src="{{ img.image.url }}" alt="{{ img.alt_text|default:article.title }}" class="img-fluid rounded shadow-sm">
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}


  <div class="text-center my-5">
    <a href="tel:{{ site_phone|urlencode }}" class="btn btn-primary btn-lg rounded-pill shadow">Хочу такой камень</a>
  </div>


  <div class="mt-5">
    <h4 class="fw-bold mb-4">Читайте также</h4>
    <div class="row" id="blog-cards">
      {% for related_article in related_articles %}
        <div class="col-md-4 mb-4 product-card">
          <a href="{% url 'home:blog_item' related_article.slug %}" class="card border text-decoration-none d-block h-100">
            {% if related_article.preview_image %}
              <img src="{{ related_article.preview_image.url }}" class="card-img-top" alt="{{ related_article.title }}" style="padding: 20px;">
            {% else %}
              <img src="https://placehold.co/600x400" class="card-img-top" alt="Нет изображения" style="padding: 20px;">
            {% endif %}
            <div class="card-body text-center">
              <h5 class="fw-bold text-dark">{{ related_article.title }}</h5>
              <p class="text-muted">{{ related_article.meta_description }}</p>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>

</div>
{% endblock %}
