{% extends "base.html" %}
{% load static %}

{% block title %}{{ category.title }}{% endblock %}

{% block meta_description %}
  Категория “{{ category.title }}”: {{ category.description|default:"Лучшие ландшафтные камни этой категории." }}
{% endblock %}

{% block content %}
<div class="py-5">
    <div class="container">
      <h2 class="fw-bold mb-4 text-start mt-4">{{ category.title }}</h2>
      <div class="row">
        {% for product in products %}
          <div class="col-md-4 mb-4 product-card">
            <div class="card border">
              {% if product.image %}
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.title }}" style="padding: 20px;">
              {% endif %}
              <div class="card-body text-center">
                <h5 class="fw-bold">{{ product.title }}</h5>
                <p class="card-text">{{ product.description|truncatewords:10 }}</p>
                <a href="{% url 'home:product_detail' product.slug %}" class="btn btn-outline-primary">Подробнее</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
</div>
{% endblock %}
