# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.env
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Django files
*.log
*.pot
*.pyc
*.pyo
*.pyd
db.sqlite3
media/
staticfiles/
# если собираете collectstatic в директорию static/
images/
articles/
previews/
articles/previews
gallery/
articles/gallery/


# Pytest
.cache/
nosetests.xml
coverage.xml
htmlcov/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Docker
docker-compose.override.yml
*.pid
*.sock

# Envvars and secrets
.env.local
.env.*.local
.env

# Logs
logs/
*.log

# Coverage
.coverage
.coverage.*
.cache


# Node / frontend (если есть)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
